<nav class="menu">
  <img src="assets/images/logo-removebg-preview.png" alt="" class="img_logo" /> 
  <ul class="options">
    <li>
      <a routerLink="/perfil-teacher/{{ username }}"
        ><i class="fa-solid fa-user"></i> <span>{{ username }}</span></a
      >
    </li>
    <li *ngIf="isLogged">
      <a
        routerLink="/perfil-teacher/{{
          username
        }}/colaborar-en-proyectos"
        ><i class="fa-solid fa-layer-group"></i
        ><span>Colaborar en proyectos</span></a
      >
    </li>
    <li *ngIf="!isLogged">
      <a routerLink="/login"
        ><i class="fa-solid fa-sign-in-alt"></i><span>Iniciar sesión</span></a
      >
    </li>
    <li *ngIf="isLogged" (click)="onLogOut()">
      <a style="cursor: pointer"
        ><i class="fa-solid fa-sign-out-alt"></i><span>Cerrar sesión</span></a
      >
    </li>
  </ul>
</nav>
