.menu_school {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px;
    margin-top: 20px;
}
.menu_school_button{
    color: #001f3f;
    transition: .3s ease;
    border-radius: 3px;
    width: 200px;
    border: 2px solid #001f3f;
    border-radius: 5px;
    height: 60px;
    background-color: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    font-weight: 500;
}

#f {
    margin-top: 100px;
}

.menu_school_button:hover {
    box-shadow: none;
}
.btn_crear{
    width: 150px;
    height: 80px;
    background-color: #001f3f;
    color: white;
}
#teacher{
    height: 100vh;
}